@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
    scroll-padding-top: 30px; /* hauteur estimée de ton header */

}

section {
  scroll-margin-top: 30px; /* même valeur ou ajustée */
}
